@font-face {
    font-family: 'SignikaNegative';
    src: url('../assets/fonts/SignikaNegative-Regular.ttf');
}
@font-face {
    font-family: 'SemiBold';
    src: url('../assets/fonts/SignikaNegative-SemiBold.ttf');
}
@font-face {
    font-family: 'Binjay';
    src: url('../assets/fonts/Southmore.ttf');
}


:root{
    --bg-main:rgb(17, 38, 78);
    --bg-light:rgb(82, 122, 196);
    --bg-light:rgb(236, 163, 5);
    --secondary: rgb(236, 163, 5);
    --gray:#eee;
    --white:#fff;
}

body{
    font-family: 'SignikaNegative';
    color: rgb(139, 138, 138);
}
img{
    width:100%;
    height:100%;
    object-fit: fill;
}

h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    color: rgb(117, 117, 117);
    font-family: 'SemiBold';
}

p{
    margin-top: 0;
    font-size: 1.2rem;
}

.btn{
    &:hover{
        color: var(--white);
    }
}

.elips-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.elips-text.l2 {
    -webkit-line-clamp: 2;
}
.elips-text.l3 {
    -webkit-line-clamp: 3;
}
.elips-text.l4 {
    -webkit-line-clamp: 4;
}


.search-bar-container{
    height: 3rem;
    input, button{
        padding: .5rem 1rem;
        height: 100%;
        border:none;
        outline: none;
        background-color: transparent;
    }
    input{
        flex:1;
    }
}

.my-container{
    padding: 0 4%;
}

.items-wraper{
    display:grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    .item-card{
        background-color: var(--white);
        &__text{
            padding: .8rem;
        }
    }
    .item-card__image{
        height: 190px;
        min-height: 190px;
        max-height: 190px;
    }

    .img-placeholder{
        height: 190px;
        background-color: var(--white);
        .icon{
            font-size: 7rem;
            opacity: .3;
        }
    }
}
.item-card-btn{
    color:var(--white);
    background-color: var(--bg-light) !important;
    border:none;
}

.items-wraper.col4{
    grid-template-columns: repeat(4, 1fr);
    .item-card__image{
        height: 170px;
        min-height: 170px;
        max-height: 170px;
    }
}
.items-wraper.col5{
    grid-template-columns: repeat(5, 1fr);
    .item-card__image{
        height: 170px;
        min-height: 170px;
        max-height: 170px;
    }
}

.app-wraper{
    position: relative;
}
.page-loader-wraper{
    width:100%;
    position: absolute;
    top:0;
    left:0;
    
    .content{
        margin-top: 5rem;
    }
}

.lg-hide{
    display: none !important;
}


@media screen and (max-width:750px){
    .sm-hide{
        display: none !important;
    }
    .lg-hide{
        display: block !important;
    }
    
    body{
        font-size:1rem;
    }

    .my-container{
        padding: 0 1rem;
    }

    .items-wraper{
        grid-gap: .5rem;
        .item-card{
            &__text{
                padding: .5rem;
            }
        }
        .btn-primary{
            padding: .3rem .6rem;
            width:100%;
        }
        .img-placeholder{
            height: 125px;
            min-height: 125px;
            max-height: 125px;
            .icon{
                font-size: 6rem;
            }
        }
        
        h5{
            font-size: .9rem;
        }
    }
    .item-card-btn{
        padding: .3rem .6rem !important;
        color:var(--white);
        // background-color:var(--white) !important;
        border:1px solid var(--bg-light) !important;
    }
    .items-wraper.col4, .items-wraper.col5{
        grid-template-columns: repeat(2, 1fr);
        .item-card__image{
            height: 130px;
            min-height: 130px;
            max-height: 130px;
        }
    }
    
}