
footer{
    padding:0 8%;
    color: var(--white);
    background-color: var(--bg-main);
    h3,h4,h5{
        color: var(--white);
    }
}


.footer-top{
    padding:4rem 0;
    display:flex;
    .subcribe-container{
        flex:1;
        margin-right:4rem;
        .subcribe-form{
            height:4rem;
            background-color: var(--white);
            input,button{
                height:100%;
                border:none;
                outline: none;
            }
        }
        input{
            flex:1;
            background-color: transparent;
        }
        .button{
            padding:0 1.5rem;
            background-color: var(--secondary) !important;
        }
    }

    .socila-media-container{
        .social-media-icon-wraper{
            margin-left:2rem;
            width:55px;
            height:55px;
            background-color: var(--bg-light);
            border:2px solid var(--white);
            font-size: 165%;
        }
    }
}

.footer-bottom{
    padding:4rem 0;
    border-top:3px solid #fff;
    // border-bottom:3px solid #fff;
    display:flex;
    justify-content: space-between;
    .footer-content.about{
        margin: 0;
        flex:1;
    }
    ul{
        padding:0;
        padding:0;
        list-style: none;
        li{
            margin-bottom: .7rem;
        }
    }
}

@media screen and (max-width: 750px){

    footer{
        padding:1rem 1rem;
    }

    .footer-top{
        padding:2rem 0;
        display:block;
        .subcribe-container{
            margin:0;
            .subcribe-form{
                height:3rem;
            }
            input{
                flex:1;
            }
            .button{
                padding:0 .7rem;
            }
        }

        .socila-media-container{
            margin-top: 2rem;
            text-align: center;
            .social-media-icon-wraper{
                margin:0 .5rem;
                width:40px;
                height:40px;
                border:1px solid var(--white);
                font-size: 150%;
            }
        }
    }

    .footer-bottom{
        padding:2rem 0;
        display:block;
        .footer-content{
            margin: 0;
        }
        ul{
            padding:0;
            padding:0;
            list-style: none;
        }
    }
}
