/**************************************************************
    ****** START OF INPUT CONTAINER STYLE *******
**************************************************************/
.input-container {
  margin-bottom: 1.5rem;
}
.input-container input, .input-container select, .input-container textarea {
  padding: 0.5rem;
  height: 3.3rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: var(--white);
}
.input-container textarea {
  height: 6rem;
  resize: none;
}

.has-error {
  border-bottom: 2px solid rgb(250, 42, 42);
}

.my-button {
  width: 100%;
  color: var(--white);
  background-color: var(--bg-main) !important;
}
.my-button:hover {
  color: var(--white) !important;
}

input[type=file] {
  display: none;
}

.file-button {
  background-color: var(--bg-light) !important;
  color: var(--white);
}

.image-icon {
  margin-right: 0.5rem;
  font-size: 1.9rem;
}

.form-modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.0666666667);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 120;
}

.modal-content {
  position: relative;
  background-color: var(--white);
  border-radius: 10px;
}
.modal-content .icon-wraper {
  margin: 0 1rem;
  width: 45px;
  height: 45px;
  font-size: 150%;
}
.modal-content .close-button {
  width: 45px;
  height: 45px;
  cursor: pointer;
  font-size: 120%;
  color: red;
  background-color: var(--gray);
  border: 1px solid red;
  position: absolute;
  top: -16px;
  right: -16px;
  z-index: 2;
}

.popup-form {
  padding: 2rem 3rem;
  width: 40%;
}

.popup-form.upload {
  width: 50%;
}

.main-form-wraper {
  padding: 2rem;
}

.upload-loader-wraper, .spinner-loader-wraper {
  height: 100vh;
  width: 100%;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.0666666667);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
}

.upload-form {
  margin: 0 auto;
  position: relative;
}
.upload-form .upload-loader-wraper .upload-loader-content {
  padding: 3rem 2rem;
  background-color: var(--white);
  width: 45%;
}
.upload-form .upload-loader-wraper .loader {
  height: 25px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(230, 229, 231);
}
.upload-form .upload-loader-wraper .fil {
  height: 25px;
  border-radius: 10px;
  background-image: linear-gradient(to left, rgb(157, 52, 199), lightgreen);
}
.upload-form .upload-loader-wraper .count {
  font-size: 1.5rem;
  font-weight: 800;
}

@media screen and (max-width: 950px) {
  .main-form-wraper {
    padding: 0;
  }
  .modal-content {
    padding: 2rem 1.5rem;
  }
  .modal-content .icon-wraper {
    margin: 0 1rem;
    width: 45px;
    height: 45px;
    font-size: 150%;
  }
  .modal-content .close-button {
    width: 35px;
    height: 35px;
    top: -8px;
    right: -8px;
  }
  .popup-form {
    width: 90%;
  }
  .upload-form {
    padding: 1rem;
    width: 100%;
  }
  .upload-form .upload-loader-wraper .upload-loader-content {
    padding: 2rem 2rem;
    width: 95%;
  }
  .upload-form .upload-loader-wraper .loader {
    height: 21px;
  }
  .upload-form .upload-loader-wraper .fil {
    height: 21px;
  }
  .upload-form .upload-loader-wraper .count {
    font-size: 1.5rem;
    font-weight: 800;
  }
  /**************************************************************
      ****** START OF INPUT CONTAINER STYLE *******
  **************************************************************/
  .input-container {
    margin-bottom: 1rem;
  }
  .input-container input, .input-container select, .input-container textarea {
    padding: 0.5rem;
    height: 2.7rem;
  }
  .input-container textarea {
    height: 6rem;
  }
}/*# sourceMappingURL=forms.css.map */