header {
  padding: 0 6%;
  height: 70vh;
  background-image: linear-gradient(to right, rgba(27, 93, 216, 0.1), rgba(17, 203, 209, 0.1)), url("../../../assets/images/bck-4.png");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
}
header .header-hero {
  width: 60%;
}
header .header-hero h1 {
  color: var(--white);
  font-size: 3rem;
}
header .header-hero .header-button {
  padding: 0.9rem 1.3rem !important;
  margin-right: 0.8rem;
  border: 1px solid var(--white);
  background-color: var(--bg-light) !important;
  text-decoration: none;
}

/********************************************************************
    ******* FEATURE STYLE *******
********************************************************************/
.home-section {
  padding: 2rem 10%;
}

.section-title {
  margin-bottom: 1.5rem;
}
.section-title h1, .section-title h2 {
  margin: 0;
}
.section-title .sun-nav-link {
  padding: 0 0.6rem;
  text-decoration: none;
  color: inherit;
}
.section-title .chevron-icon {
  margin-left: 0.5rem;
}

.categories-wraper {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
}
.categories-wraper .category-card {
  background-color: var(--gray);
  text-decoration: none;
  color: inherit;
}
.categories-wraper .category-image-bg {
  height: 200px;
}

/********************************************************************
    ******* FEATURE STYLE *******
********************************************************************/
.feature-container .section-body {
  display: grid;
  grid-column-gap: 0.6rem;
  grid-template-columns: repeat(3, 1fr);
}
.feature-container .feature-card {
  padding: 1.5rem;
  background-color: var(--gray);
}
.feature-container .icon {
  margin-right: 1rem;
  font-size: 2.6rem;
}

/********************************************************************
    ******* FEATUREED PRODUCTS STYLE *******
********************************************************************/
.top-saler-content {
  padding: 5rem 10%;
}
.top-saler-content .saler-card {
  padding: 0.7rem;
  background-color: var(--white);
  width: 97%;
}
.top-saler-content .saler-card span {
  margin: 0.5rem;
  padding: 0.3rem 0.5rem;
  background-color: var(--gray);
}
.top-saler-content .logo {
  width: 100%;
  height: 200px;
  margin-bottom: 0.8rem;
}
.top-saler-content .rec-arrow-left {
  left: -2rem;
}
.top-saler-content .rec-arrow-right {
  right: -2rem;
}

/******************************************************************
    ****** START OF CAROUSEL STYLE *****
******************************************************************/
.rec-carousel-wrapper {
  position: relative !important;
}

.rec-arrow {
  position: absolute;
  z-index: 20 !important;
  border: none !important;
  font-size: 2rem !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.rec-slider-container {
  margin: 0 !important;
}

.rec-pagination {
  display: none !important;
}

@media screen and (max-width: 950px) {
  header {
    padding: 3rem 0.5rem;
    height: auto;
  }
  header .header-hero {
    width: 100%;
  }
  header .header-hero h1 {
    font-size: 1.7rem;
  }
  header .header-hero .header-button {
    padding: 0.4rem 0.6rem !important;
    margin: 0.3rem;
  }
  .categories-wraper {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .categories-wraper .category-image-bg {
    height: 110px;
  }
  /********************************************************************
      ******* FEATURE STYLE *******
  ********************************************************************/
  .home-section {
    padding: 2rem 0.5rem;
  }
  .section-title {
    margin-bottom: 0.8rem;
  }
  .section-title h1 {
    margin: 0;
    font-size: 1.4rem;
  }
  /********************************************************************
      ******* FEATURE STYLE *******
  ********************************************************************/
  .feature-container .section-body {
    display: block;
  }
  .feature-container .feature-card {
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .feature-container .icon {
    margin-right: 0.6rem;
    font-size: 2.5rem;
  }
  /********************************************************************
      ******* FEATUREED PRODUCTS STYLE *******
  ********************************************************************/
  .top-saler-content {
    padding: 1rem 0.5rem;
    background-color: var(--white);
  }
  .top-saler-content .saler-card {
    padding: 0.5rem;
    background-color: var(--gray);
  }
  .top-saler-content .saler-card span {
    margin: 0.5rem;
    padding: 0.3rem 0.5rem;
    background-color: rgb(255, 255, 255);
  }
  .top-saler-content .logo {
    height: 120px;
  }
  .rec-arrow {
    display: none !important;
  }
  .item-slider-content .item-slider-card {
    margin: 0 0.3rem;
    background-color: rgb(245, 245, 245);
  }
  .item-slider-content .item-slider-card .image {
    height: 140px;
  }
}/*# sourceMappingURL=home.css.map */