.appbar-wraper {
  padding: 0.8rem 4%;
  color: var(--white);
  background-color: var(--bg-main);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
.appbar-wraper .nav-button, .appbar-wraper .nav-link, .appbar-wraper .nav-icon-wraper {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

.search-bar, .categories, .icon-wraper, .nav-button {
  height: 2.8rem;
}

.nav-button {
  padding: 0 1rem;
  border: none;
  outline: none;
  background-color: var(--bg-light) !important;
}

/*************************************************************************
    ********** THE START OF LOGO STYLE **********
*************************************************************************/
.logo-container {
  margin-right: 1.5rem;
}
.logo-container img {
  height: 3.5rem;
  width: 5.3rem;
}

/*************************************************************************
    ********** THE START OF NAV SEARCH STYLE **********
*************************************************************************/
.search-container {
  margin-right: 0.5rem;
}
.search-container .search-bar {
  width: 400px;
  border-left: 1px solid #ccc;
  background-color: var(--white);
}
.search-container .search-bar input, .search-container .search-bar button {
  padding: 0 0.6rem;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
.search-container .search-bar input {
  flex: 1;
}
.search-container .search-bar button {
  background-color: var(--bg-light);
}
.search-container .categories {
  padding: 0 0.6rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  background-color: var(--white);
}

/*************************************************************************
    ********** THE START OF NAV LINKS STYLE **********
*************************************************************************/
.nav-link-wraper {
  flex: 1 !important;
}
.nav-link-wraper .nav-link {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

/*************************************************************************
    ********** THE START OF NAV LINKS STYLE **********
*************************************************************************/
.action-container .icon-wraper {
  margin-left: 1rem;
  width: 2.8rem;
  overflow: hidden;
  background-color: var(--bg-light);
}
.action-container .icon {
  font-size: 1.5rem;
}

.menu-bar-icon {
  display: none;
}

@media screen and (max-width: 950px) {
  .appbar-wraper {
    padding: 0 0.5rem;
    height: 3.5rem;
  }
  .nav-button {
    padding: 0 0.6rem;
    height: 2.1rem;
  }
  .menu-bar-icon {
    margin-right: 0.5rem;
    height: 2.3rem;
    width: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-light);
    z-index: 158;
  }
  /*************************************************************************
      ********** THE START OF LOGO STYLE **********
  *************************************************************************/
  .logo-container {
    margin: 0;
    flex: 1;
  }
  .logo-container img {
    height: 3rem;
    width: 5rem;
  }
  /*************************************************************************
      ********** THE START OF NAV SEARCH STYLE **********
  *************************************************************************/
  .search-container {
    margin-right: 0.5rem;
  }
  .search-container .search-bar {
    margin-right: 0.5rem;
    width: 400px;
    background-color: var(--white);
  }
  .search-container .search-bar input, .search-container .search-bar button {
    padding: 0 0.6rem;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
  }
  .search-container .search-bar input {
    flex: 1;
  }
  .search-container .search-bar button {
    background-color: var(--secondary);
  }
  .search-container .categories {
    padding: 0 0.6rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    background-color: var(--white);
  }
  /*************************************************************************
      ********** THE START OF NAV LINKS STYLE **********
  *************************************************************************/
  .mobile-nav {
    padding-top: 3.7rem;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-light);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .mobile-nav ul {
    flex-direction: column;
  }
  /*************************************************************************
      ********** THE START OF NAV LINKS STYLE **********
  *************************************************************************/
  .action-container .icon-wraper {
    margin-left: 0.7rem;
    width: 2rem;
    height: 2rem;
  }
  .action-container .icon {
    font-size: 1.3rem;
  }
}/*# sourceMappingURL=appbar.css.map */