@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    scroll-behavior: smooth;
}


img{
    width:100%;
    height:100%;
}
.header{
    background-image: url('./assets/images/shopping-g384439364_1280.jpg');
    background-image: url('./assets/images/shopping-bg.jpg');
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('./assets/images/pexels-negative-space-34577.jpg');
    background-size: cover;
    background-position: top;
}
.header h1{
    line-height: 4.5rem;
}

.dropdown-scroll{
    max-height:350px;
    overflow-y: scroll;
}

.popup-modal{
    background-color: rgba(0, 0, 0, 0.096);
}

@media screen and (max-width:650px) {
    body{
        font-size:15px;
    }
    .header{
        background-size: 100% 100%;
    }
    .header h1{
        line-height: unset;
    }
    
    .dropdown-scroll{
        max-height:350px;
        overflow-y: scroll;
    }
    
}